# GLDAS

In [186]:
import os
import glob
import numpy as np
import pandas as pd
from osgeo import gdal
import re  # To extract year and month from filenames

# Define TIFF folder path
tiff_folder = "TIFF_DATASET\\gldas_tiff"

# Get all TIFF files
tiff_files = sorted(glob.glob(os.path.join(tiff_folder, "*.tif")))

# Debug: Ensure files are found
if not tiff_files:
    raise FileNotFoundError("No TIFF files found. Check folder path and file format.")

# Initialize data list
data_list = []

for tiff_file in tiff_files:
    # Extract year and month from filename using regex
    match = re.search(r"_(\d{4})_(\d{1,2})", os.path.basename(tiff_file))
    if match:
        year, month = match.groups()
        date_str = f"{year}-{int(month):02d}"  # Format as YYYY-MM
    else:
        print(f"Skipping file (invalid name format): {tiff_file}")
        continue

    # Open TIFF file
    dataset = gdal.Open(tiff_file)
    if dataset is None:
        print(f"Error: Could not open {tiff_file}")
        continue

    # Get band names from the dataset metadata (if available)
    band_names = [dataset.GetRasterBand(i + 1).GetDescription() for i in range(dataset.RasterCount)]
    
    # Read all bands into a list of arrays
    band_arrays = [dataset.GetRasterBand(i + 1).ReadAsArray() for i in range(dataset.RasterCount)]
    
    if any(array is None for array in band_arrays):
        print(f"Error: No data in bands of {tiff_file}")
        continue
    
    transform = dataset.GetGeoTransform()
    
    rows, cols = band_arrays[0].shape
    latitudes = np.array([transform[3] + row * transform[5] for row in range(rows)])
    longitudes = np.array([transform[0] + col * transform[1] for col in range(cols)])
    
    lon_mesh, lat_mesh = np.meshgrid(longitudes, latitudes)
    
    # Create a DataFrame for each band
    band_dict = {}
    for i, band_array in enumerate(band_arrays):
        band_dict[band_names[i] if band_names[i] else f"Band_{i+1}"] = band_array.ravel()

    band_dict["Longitude"] = lon_mesh.ravel()
    band_dict["Latitude"] = lat_mesh.ravel()
    band_dict["Date"] = date_str

    df = pd.DataFrame(band_dict)
    
    data_list.append(df)

# Check if data_list has data before concatenating
if not data_list:
    raise ValueError("No valid data was extracted from TIFF files.")

final_df = pd.concat(data_list, ignore_index=True)

# Print DataFrame shape and first few rows to confirm
print("Conversion successful! DataFrame shape:", final_df.shape)
print(final_df.head())

Conversion successful! DataFrame shape: (156492, 4)
   CanopInt_inst_mean  Longitude   Latitude     Date
0                 NaN  67.822804  31.890193  2003-01
1                 NaN  68.271962  31.890193  2003-01
2                 NaN  68.721119  31.890193  2003-01
3                 NaN  69.170277  31.890193  2003-01
4                 NaN  69.619435  31.890193  2003-01

In [187]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point

# Load the shapefile (update the file path)
shapefile_path = "RJ_150KM_Buff_Bnd/IND_Rajasthan_Buffer_150km.shp"
shapefile = gpd.read_file(shapefile_path)

# Convert final_df to a GeoDataFrame
geometry = [Point(lon, lat) for lon, lat in zip(final_df['Longitude'], final_df['Latitude'])]
final_gdf = gpd.GeoDataFrame(final_df, geometry=geometry, crs="EPSG:4326")  # Assuming WGS84 projection

# Ensure the shapefile is in the same CRS
if shapefile.crs != final_gdf.crs:
    shapefile = shapefile.to_crs(final_gdf.crs)

# Perform spatial join to filter points inside the shapefile boundary
final_gdf = final_gdf[final_gdf.within(shapefile.unary_union)]

# Convert back to DataFrame (if you don't need the geometry column)
final_df = final_gdf.drop(columns=['geometry'])

# Display the filtered DataFrame
print(final_df)

C:\Users\JT00007\AppData\Local\Temp\ipykernel_12160\853554686.py:18: DeprecationWarning: The 'unary_union' attribute is deprecated, use the 'union_all()' method instead.
  final_gdf = final_gdf[final_gdf.within(shapefile.unary_union)]

        CanopInt_inst_mean  Longitude   Latitude     Date
40                0.025629  73.661853  31.441035  2003-01
41                0.052762  74.111011  31.441035  2003-01
42                0.060323  74.560169  31.441035  2003-01
65                0.006956  72.763538  30.991877  2003-01
66                0.009871  73.212696  30.991877  2003-01
...                    ...        ...        ...      ...
156478            0.155813  73.661853  22.008724  2023-09
156479            0.164317  74.111011  22.008724  2023-09
156480            0.168146  74.560169  22.008724  2023-09
156481            0.155529  75.009326  22.008724  2023-09
156482                 NaN  75.458484  22.008724  2023-09

[95508 rows x 4 columns]

In [188]:
nan_count = final_df["CanopInt_inst_mean"].isna().sum()
print(f"Number of NaN values in 'Value' column: {nan_count}")

Number of NaN values in 'Value' column: 540

In [189]:
# Define a small tolerance to account for floating point precision issues
tolerance = 1e-6

# Remove rows where Longitude and Latitude match within the tolerance range
final_df = final_df[
    ~(
        (final_df["Longitude"].sub(75.458484).abs() < tolerance) & 
        (final_df["Latitude"].sub(22.008724).abs() < tolerance)
    )
]

# Reset index after removal
final_df = final_df.reset_index(drop=True)


# Display updated dataframe
print(final_df)


nan_count = final_df["CanopInt_inst_mean"].isna().sum()
print(f"Number of NaN values in 'Value' column: {nan_count}")

       CanopInt_inst_mean  Longitude   Latitude     Date
0                0.025629  73.661853  31.441035  2003-01
1                0.052762  74.111011  31.441035  2003-01
2                0.060323  74.560169  31.441035  2003-01
3                0.006956  72.763538  30.991877  2003-01
4                0.009871  73.212696  30.991877  2003-01
...                   ...        ...        ...      ...
95251            0.150879  75.907642  22.457882  2023-09
95252            0.155813  73.661853  22.008724  2023-09
95253            0.164317  74.111011  22.008724  2023-09
95254            0.168146  74.560169  22.008724  2023-09
95255            0.155529  75.009326  22.008724  2023-09

[95256 rows x 4 columns]
Number of NaN values in 'Value' column: 288

In [190]:
# Filter rows where 'Value' column is NaN
nan_rows = final_df[final_df['CanopInt_inst_mean'].isna()]

# Display the rows with NaN values in the 'Value' column
print(nan_rows)

       CanopInt_inst_mean  Longitude   Latitude     Date
77394                 NaN  70.966907  24.703670  2020-01
77412                 NaN  70.068592  24.254513  2020-01
77413                 NaN  70.517750  24.254513  2020-01
77414                 NaN  70.966907  24.254513  2020-01
77431                 NaN  70.068592  23.805355  2020-01
...                   ...        ...        ...      ...
95178                 NaN  70.068592  24.254513  2023-09
95179                 NaN  70.517750  24.254513  2023-09
95180                 NaN  70.966907  24.254513  2023-09
95197                 NaN  70.068592  23.805355  2023-09
95199                 NaN  70.966907  23.805355  2023-09

[288 rows x 4 columns]

In [192]:
import numpy as np
import pandas as pd
from scipy.spatial import cKDTree

def inverse_distance_weighting(df, missing_idx, known_coords, known_values, power=2):
    """
    Performs Inverse Distance Weighting (IDW) for spatial interpolation.

    Parameters:
    df (DataFrame): The dataset containing Longitude, Latitude, and Value columns.
    missing_idx (Index): Indices of missing values.
    known_coords (ndarray): Array of known Longitude and Latitude coordinates.
    known_values (ndarray): Array of known values.
    power (int): The power parameter for IDW (higher = stronger weighting on closer points).

    Returns:
    DataFrame: The dataset with interpolated values.
    """
    # Build spatial tree for fast nearest neighbor search
    tree = cKDTree(known_coords)
    
    for idx in missing_idx:
        missing_coord = np.array([df.loc[idx, "Longitude"], df.loc[idx, "Latitude"]])
        
        # Find the 5 nearest neighbors
        distances, indices = tree.query(missing_coord, k=5)
        
        # Handle edge case where all distances are 0 (exact match)
        if np.any(distances == 0):
            df.loc[idx, "CanopInt_inst_mean"] = known_values[indices[0]]
            continue
        
        # Compute IDW weights (inverse of distance squared)
        weights = 1 / (distances ** power)
        weights /= weights.sum()  # Normalize
        
        # Weighted sum of values
        df.loc[idx, "CanopInt_inst_mean"] = np.sum(weights * known_values[indices])

    return df

def spatial_interpolation(df):
    """
    Performs spatial interpolation for missing values using IDW.

    Parameters:
    df (DataFrame): The dataset containing Longitude, Latitude, and Value columns.

    Returns:
    DataFrame: The dataset with interpolated values.
    """
    # Ensure Longitude and Latitude are float for spatial calculations
    df["Longitude"] = df["Longitude"].astype(float)
    df["Latitude"] = df["Latitude"].astype(float)

    # Identify missing values
    missing_idx = df[df["CanopInt_inst_mean"].isna()].index

    # Extract known (non-NaN) values and coordinates
    known_df = df.dropna(subset=["CanopInt_inst_mean"])
    known_coords = known_df[["Longitude", "Latitude"]].values
    known_values = known_df["CanopInt_inst_mean"].values

    # Apply IDW interpolation
    df = inverse_distance_weighting(df, missing_idx, known_coords, known_values)
    
    return df

# Apply spatial interpolation
final_df = spatial_interpolation(final_df)

# Check missing values after interpolation
print("✅ Spatial Interpolation Completed! Missing Values Remaining:", final_df["CanopInt_inst_mean"].isna().sum())

✅ Spatial Interpolation Completed! Missing Values Remaining: 0

In [193]:
# Filter rows where 'Value' column is NaN
nan_count = final_df["CanopInt_inst_mean"].isna().sum()
nan_rows = final_df[final_df['CanopInt_inst_mean'].isna()]

# Display the rows with NaN values in the 'Value' column
print(nan_rows)

Empty DataFrame
Columns: [CanopInt_inst_mean, Longitude, Latitude, Date]
Index: []

In [194]:
final_df

       CanopInt_inst_mean  Longitude   Latitude     Date
0                0.025629  73.661853  31.441035  2003-01
1                0.052762  74.111011  31.441035  2003-01
2                0.060323  74.560169  31.441035  2003-01
3                0.006956  72.763538  30.991877  2003-01
4                0.009871  73.212696  30.991877  2003-01
...                   ...        ...        ...      ...
95251            0.150879  75.907642  22.457882  2023-09
95252            0.155813  73.661853  22.008724  2023-09
95253            0.164317  74.111011  22.008724  2023-09
95254            0.168146  74.560169  22.008724  2023-09
95255            0.155529  75.009326  22.008724  2023-09

[95256 rows x 4 columns]

In [195]:
final_df.to_csv('cleaned_gldas.csv')

# CHIRPS

In [196]:
import os
import glob
import numpy as np
import pandas as pd
from osgeo import gdal
import re  # To extract year and month from filenames

# Define TIFF folder path
tiff_folder = "TIFF_DATASET\\chirps_tiff"

# Get all TIFF files
tiff_files = sorted(glob.glob(os.path.join(tiff_folder, "*.tif")))

# Debug: Ensure files are found
if not tiff_files:
    raise FileNotFoundError("No TIFF files found. Check folder path and file format.")

# Initialize data list
data_list = []

for tiff_file in tiff_files:
    # Extract year and month from filename using regex
    match = re.search(r"_(\d{4})_(\d{1,2})", os.path.basename(tiff_file))
    if match:
        year, month = match.groups()
        date_str = f"{year}-{int(month):02d}"  # Format as YYYY-MM
    else:
        print(f"Skipping file (invalid name format): {tiff_file}")
        continue

    # Open TIFF file
    dataset = gdal.Open(tiff_file)
    if dataset is None:
        print(f"Error: Could not open {tiff_file}")
        continue

    # Get band names from the dataset metadata (if available)
    band_names = [dataset.GetRasterBand(i + 1).GetDescription() for i in range(dataset.RasterCount)]
    
    # Read all bands into a list of arrays
    band_arrays = [dataset.GetRasterBand(i + 1).ReadAsArray() for i in range(dataset.RasterCount)]
    
    if any(array is None for array in band_arrays):
        print(f"Error: No data in bands of {tiff_file}")
        continue
    
    transform = dataset.GetGeoTransform()
    
    rows, cols = band_arrays[0].shape
    latitudes = np.array([transform[3] + row * transform[5] for row in range(rows)])
    longitudes = np.array([transform[0] + col * transform[1] for col in range(cols)])
    
    lon_mesh, lat_mesh = np.meshgrid(longitudes, latitudes)
    
    # Create a DataFrame for each band
    band_dict = {}
    for i, band_array in enumerate(band_arrays):
        band_dict[band_names[i] if band_names[i] else f"Band_{i+1}"] = band_array.ravel()

    band_dict["Longitude"] = lon_mesh.ravel()
    band_dict["Latitude"] = lat_mesh.ravel()
    band_dict["Date"] = date_str

    df = pd.DataFrame(band_dict)
    
    data_list.append(df)

# Check if data_list has data before concatenating
if not data_list:
    raise ValueError("No valid data was extracted from TIFF files.")

final_df = pd.concat(data_list, ignore_index=True)

# Print DataFrame shape and first few rows to confirm
print("Conversion successful! DataFrame shape:", final_df.shape)
print(final_df.head())

Conversion successful! DataFrame shape: (156492, 4)
   precipitation  Longitude   Latitude     Date
0            NaN  67.822804  31.890193  2003-01
1            NaN  68.271962  31.890193  2003-01
2            NaN  68.721119  31.890193  2003-01
3            NaN  69.170277  31.890193  2003-01
4            NaN  69.619435  31.890193  2003-01

In [197]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point

# Load the shapefile (update the file path)
shapefile_path = "RJ_150KM_Buff_Bnd/IND_Rajasthan_Buffer_150km.shp"
shapefile = gpd.read_file(shapefile_path)

# Convert final_df to a GeoDataFrame
geometry = [Point(lon, lat) for lon, lat in zip(final_df['Longitude'], final_df['Latitude'])]
final_gdf = gpd.GeoDataFrame(final_df, geometry=geometry, crs="EPSG:4326")  # Assuming WGS84 projection

# Ensure the shapefile is in the same CRS
if shapefile.crs != final_gdf.crs:
    shapefile = shapefile.to_crs(final_gdf.crs)

# Perform spatial join to filter points inside the shapefile boundary
final_gdf = final_gdf[final_gdf.within(shapefile.unary_union)]

# Convert back to DataFrame (if you don't need the geometry column)
final_df = final_gdf.drop(columns=['geometry'])

# Display the filtered DataFrame
print(final_df)

C:\Users\JT00007\AppData\Local\Temp\ipykernel_12160\853554686.py:18: DeprecationWarning: The 'unary_union' attribute is deprecated, use the 'union_all()' method instead.
  final_gdf = final_gdf[final_gdf.within(shapefile.unary_union)]

        precipitation  Longitude   Latitude     Date
40          11.927373  73.661853  31.441035  2003-01
41          11.360927  74.111011  31.441035  2003-01
42          13.307369  74.560169  31.441035  2003-01
65          11.916802  72.763538  30.991877  2003-01
66           9.952769  73.212696  30.991877  2003-01
...               ...        ...        ...      ...
156478       4.361670  73.661853  22.008724  2023-12
156479       3.835233  74.111011  22.008724  2023-12
156480       3.413360  74.560169  22.008724  2023-12
156481       6.411314  75.009326  22.008724  2023-12
156482            NaN  75.458484  22.008724  2023-12

[95508 rows x 4 columns]

In [198]:
nan_count = final_df["precipitation"].isna().sum()
print(f"Number of NaN values in 'Value' column: {nan_count}")

Number of NaN values in 'Value' column: 252

In [199]:
# Define a small tolerance to account for floating point precision issues
tolerance = 1e-6

# Remove rows where Longitude and Latitude match within the tolerance range
final_df = final_df[
    ~(
        (final_df["Longitude"].sub(75.458484).abs() < tolerance) & 
        (final_df["Latitude"].sub(22.008724).abs() < tolerance)
    )
]

# Reset index after removal
final_df = final_df.reset_index(drop=True)


# Display updated dataframe
print(final_df)


nan_count = final_df["precipitation"].isna().sum()
print(f"Number of NaN values in 'Value' column: {nan_count}")

       precipitation  Longitude   Latitude     Date
0          11.927373  73.661853  31.441035  2003-01
1          11.360927  74.111011  31.441035  2003-01
2          13.307369  74.560169  31.441035  2003-01
3          11.916802  72.763538  30.991877  2003-01
4           9.952769  73.212696  30.991877  2003-01
...              ...        ...        ...      ...
95251       6.139013  75.907642  22.457882  2023-12
95252       4.361670  73.661853  22.008724  2023-12
95253       3.835233  74.111011  22.008724  2023-12
95254       3.413360  74.560169  22.008724  2023-12
95255       6.411314  75.009326  22.008724  2023-12

[95256 rows x 4 columns]
Number of NaN values in 'Value' column: 0

In [200]:
# Filter rows where 'Value' column is NaN
nan_rows = final_df[final_df['precipitation'].isna()]

# Display the rows with NaN values in the 'Value' column
print(nan_rows)

Empty DataFrame
Columns: [precipitation, Longitude, Latitude, Date]
Index: []

In [201]:
final_df.to_csv('cleaned_chirps.csv')

# GRACE

In [202]:
import os
import glob
import numpy as np
import pandas as pd
from osgeo import gdal
import re  # To extract year and month from filenames

# Define TIFF folder path
tiff_folder = "TIFF_DATASET\\grace_tiff"

# Get all TIFF files
tiff_files = sorted(glob.glob(os.path.join(tiff_folder, "*.tif")))

# Debug: Ensure files are found
if not tiff_files:
    raise FileNotFoundError("No TIFF files found. Check folder path and file format.")

# Initialize data list
data_list = []

for tiff_file in tiff_files:
    # Extract year and month from filename using regex
    match = re.search(r"_(\d{4})_(\d{1,2})", os.path.basename(tiff_file))
    if match:
        year, month = match.groups()
        date_str = f"{year}-{int(month):02d}"  # Format as YYYY-MM
    else:
        print(f"Skipping file (invalid name format): {tiff_file}")
        continue

    # Open TIFF file
    dataset = gdal.Open(tiff_file)
    if dataset is None:
        print(f"Error: Could not open {tiff_file}")
        continue
    
    # Get band names from the dataset metadata (if available)
    band_names = [dataset.GetRasterBand(i + 1).GetDescription() for i in range(dataset.RasterCount)]
    
    # Read all bands into a list of arrays
    band_arrays = [dataset.GetRasterBand(i + 1).ReadAsArray() for i in range(dataset.RasterCount)]
    
    if any(array is None for array in band_arrays):
        print(f"Error: No data in bands of {tiff_file}")
        continue
    
    transform = dataset.GetGeoTransform()
    
    rows, cols = band_arrays[0].shape
    latitudes = np.array([transform[3] + row * transform[5] for row in range(rows)])
    longitudes = np.array([transform[0] + col * transform[1] for col in range(cols)])
    
    lon_mesh, lat_mesh = np.meshgrid(longitudes, latitudes)
    
    # Create a DataFrame for each band
    band_dict = {}
    for i, band_array in enumerate(band_arrays):
        band_dict[band_names[i] if band_names[i] else f"Band_{i+1}"] = band_array.ravel()

    band_dict["Longitude"] = lon_mesh.ravel()
    band_dict["Latitude"] = lat_mesh.ravel()
    band_dict["Date"] = date_str

    df = pd.DataFrame(band_dict)
    
    data_list.append(df)

# Check if data_list has data before concatenating
if not data_list:
    raise ValueError("No valid data was extracted from TIFF files.")

final_df = pd.concat(data_list, ignore_index=True)

# Display the final DataFrame (optional, you can save it to CSV if needed)
print("Conversion successful! DataFrame shape:", final_df.shape)
#print(final_df.head())

# Optionally, save to CSV if needed
# final_df.to_csv("GRACE_tiff_data.csv", index=False)

Conversion successful! DataFrame shape: (130410, 4)

In [203]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point

# Load the shapefile (update the file path)
shapefile_path = "RJ_150KM_Buff_Bnd/IND_Rajasthan_Buffer_150km.shp"
shapefile = gpd.read_file(shapefile_path)

# Convert final_df to a GeoDataFrame
geometry = [Point(lon, lat) for lon, lat in zip(final_df['Longitude'], final_df['Latitude'])]
final_gdf = gpd.GeoDataFrame(final_df, geometry=geometry, crs="EPSG:4326")  # Assuming WGS84 projection

# Ensure the shapefile is in the same CRS
if shapefile.crs != final_gdf.crs:
    shapefile = shapefile.to_crs(final_gdf.crs)

# Perform spatial join to filter points inside the shapefile boundary
final_gdf = final_gdf[final_gdf.within(shapefile.unary_union)]

# Convert back to DataFrame (if you don't need the geometry column)
final_df = final_gdf.drop(columns=['geometry'])

# Display the filtered DataFrame
print(final_df)

C:\Users\JT00007\AppData\Local\Temp\ipykernel_12160\853554686.py:18: DeprecationWarning: The 'unary_union' attribute is deprecated, use the 'union_all()' method instead.
  final_gdf = final_gdf[final_gdf.within(shapefile.unary_union)]

        lwe_thickness_mean  Longitude   Latitude     Date
40               16.868571  73.661853  31.441035  2003-01
41               16.868571  74.111011  31.441035  2003-01
42               16.868571  74.560169  31.441035  2003-01
65                2.626078  72.763538  30.991877  2003-01
66                2.626078  73.212696  30.991877  2003-01
...                    ...        ...        ...      ...
130396           17.498751  73.661853  22.008724  2023-12
130397           15.043857  74.111011  22.008724  2023-12
130398           15.043857  74.560169  22.008724  2023-12
130399           15.043857  75.009326  22.008724  2023-12
130400                 NaN  75.458484  22.008724  2023-12

[79590 rows x 4 columns]

In [204]:
import pandas as pd
import numpy as np
# Create a list of unique latitudes and longitudes
lat_long_pairs = final_df[['Longitude', 'Latitude']].drop_duplicates()

# Define the full list of months and years in the desired format (e.g., YYYY-MM)
years = list(range(2003, 2023 + 1))  # Adjust as needed
months = list(range(1, 13))

# Create all possible 'YYYY-MM' combinations
full_months = [f'{year}-{str(month).zfill(2)}' for year in years for month in months]

# Get the existing months in the dataset
existing_months = final_df['Date'].unique().tolist()

# Find the missing months
missing_months = list(set(full_months) - set(existing_months))

# Prepare a DataFrame for the missing months with NaN values
missing_rows = []

for missing_month in missing_months:
    for _, row in lat_long_pairs.iterrows():
        missing_rows.append({
            'Longitude': row['Longitude'],
            'Latitude': row['Latitude'],
            'lwe_thickness_mean': np.nan,
            'Date': missing_month
        })

# Convert the missing rows to a DataFrame
missing_df = pd.DataFrame(missing_rows)

# Concatenate the missing rows with the original final_df
final_df = pd.concat([final_df, missing_df], ignore_index=True)

# Sort the DataFrame to maintain the original order (by 'Date', 'Longitude', 'Latitude')
final_df = final_df.sort_values(by=['Date', 'Longitude', 'Latitude']).reset_index(drop=True)

# Display the updated final_df
print(final_df)

       lwe_thickness_mean  Longitude   Latitude     Date
0               -1.616644  68.271962  26.051143  2003-01
1               -1.616644  68.271962  26.500301  2003-01
2               -1.616644  68.271962  26.949459  2003-01
3               -1.616644  68.271962  27.398616  2003-01
4               -1.616644  68.271962  27.847774  2003-01
...                   ...        ...        ...      ...
95503          -23.875206  79.051745  27.398616  2023-12
95504          -23.875206  79.051745  27.847774  2023-12
95505          -23.875206  79.500903  26.500301  2023-12
95506          -23.875206  79.500903  26.949459  2023-12
95507          -23.875206  79.500903  27.398616  2023-12

[95508 rows x 4 columns]

In [205]:
import pandas as pd

def temporal_interpolation(df):
    # Sort by Longitude, Latitude, and Date to maintain correct order
    df = df.sort_values(by=["Longitude", "Latitude", "Date"]).reset_index(drop=True)

    def interpolate_group(group):
        group = group.copy()  # Avoid modifying original group
        group["lwe_thickness_mean"] = group["lwe_thickness_mean"].astype(float)  # Ensure numeric

        for idx in range(len(group)):
            if pd.isna(group.iloc[idx]["lwe_thickness_mean"]):  # Only interpolate if Value is NaN
                neighbors = []

                # Loop to consider up to 3 previous and next months
                for n in range(1, 4):  
                    prev_idx = idx - n  # Index of previous n-th month
                    next_idx = idx + n  # Index of next n-th month

                    # Collect values from previous months
                    if prev_idx >= 0:
                        prev_value = group.iloc[prev_idx]["lwe_thickness_mean"]
                        if not pd.isna(prev_value):
                            neighbors.append(prev_value)

                    # Collect values from next months
                    if next_idx < len(group):
                        next_value = group.iloc[next_idx]["lwe_thickness_mean"]
                        if not pd.isna(next_value):
                            neighbors.append(next_value)

                    # If we have collected enough neighbors (up to 3 previous and 3 next)
                    if len(neighbors) > 0:
                        # Take the mean of available neighbors
                        group.iloc[idx, group.columns.get_loc("lwe_thickness_mean")] = sum(neighbors) / len(neighbors)
                        break  # Stop once interpolation is done

        return group

    # Apply interpolation for each unique coordinate (Longitude, Latitude)
    df = df.groupby(["Longitude", "Latitude"]).apply(interpolate_group).reset_index(drop=True)
    return df

# Example usage:
final_df["Date"] = pd.to_datetime(final_df["Date"], format="%Y-%m")  # Ensure Date is in datetime format
final_df = temporal_interpolation(final_df)

# Display the result
print(final_df)

       lwe_thickness_mean  Longitude   Latitude       Date
0               -1.616644  68.271962  26.051143 2003-01-01
1               -0.892126  68.271962  26.051143 2003-02-01
2               -2.181170  68.271962  26.051143 2003-03-01
3               -0.756670  68.271962  26.051143 2003-04-01
4                0.975714  68.271962  26.051143 2003-05-01
...                   ...        ...        ...        ...
95503           -1.008954  79.500903  27.398616 2023-08-01
95504           -4.776188  79.500903  27.398616 2023-09-01
95505          -10.928502  79.500903  27.398616 2023-10-01
95506          -18.515027  79.500903  27.398616 2023-11-01
95507          -23.875206  79.500903  27.398616 2023-12-01

[95508 rows x 4 columns]

C:\Users\JT00007\AppData\Local\Temp\ipykernel_12160\3706800949.py:41: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = df.groupby(["Longitude", "Latitude"]).apply(interpolate_group).reset_index(drop=True)

In [206]:
final_df

       lwe_thickness_mean  Longitude   Latitude       Date
0               -1.616644  68.271962  26.051143 2003-01-01
1               -0.892126  68.271962  26.051143 2003-02-01
2               -2.181170  68.271962  26.051143 2003-03-01
3               -0.756670  68.271962  26.051143 2003-04-01
4                0.975714  68.271962  26.051143 2003-05-01
...                   ...        ...        ...        ...
95503           -1.008954  79.500903  27.398616 2023-08-01
95504           -4.776188  79.500903  27.398616 2023-09-01
95505          -10.928502  79.500903  27.398616 2023-10-01
95506          -18.515027  79.500903  27.398616 2023-11-01
95507          -23.875206  79.500903  27.398616 2023-12-01

[95508 rows x 4 columns]

In [207]:
nan_count = final_df["lwe_thickness_mean"].isna().sum()
print(f"Number of NaN values in 'Value' column: {nan_count}")

Number of NaN values in 'Value' column: 252

In [208]:
# Define a small tolerance to account for floating point precision issues
tolerance = 1e-6

# Remove rows where Longitude and Latitude match within the tolerance range
final_df = final_df[
    ~(
        (final_df["Longitude"].sub(75.458484).abs() < tolerance) & 
        (final_df["Latitude"].sub(22.008724).abs() < tolerance)
    )
]

# Reset index after removal
final_df = final_df.reset_index(drop=True)


# Display updated dataframe
print(final_df)


nan_count = final_df["lwe_thickness_mean"].isna().sum()
print(f"Number of NaN values in 'Value' column: {nan_count}")

       lwe_thickness_mean  Longitude   Latitude       Date
0               -1.616644  68.271962  26.051143 2003-01-01
1               -0.892126  68.271962  26.051143 2003-02-01
2               -2.181170  68.271962  26.051143 2003-03-01
3               -0.756670  68.271962  26.051143 2003-04-01
4                0.975714  68.271962  26.051143 2003-05-01
...                   ...        ...        ...        ...
95251           -1.008954  79.500903  27.398616 2023-08-01
95252           -4.776188  79.500903  27.398616 2023-09-01
95253          -10.928502  79.500903  27.398616 2023-10-01
95254          -18.515027  79.500903  27.398616 2023-11-01
95255          -23.875206  79.500903  27.398616 2023-12-01

[95256 rows x 4 columns]
Number of NaN values in 'Value' column: 0

In [209]:
# Filter rows where 'Value' column is NaN
nan_rows = final_df[final_df['lwe_thickness_mean'].isna()]

# Display the rows with NaN values in the 'Value' column
print(nan_rows)

Empty DataFrame
Columns: [lwe_thickness_mean, Longitude, Latitude, Date]
Index: []

In [210]:
final_df.to_csv('cleaned_grace.csv')

# TERRA CLIMATE

In [176]:
import os
import glob
import numpy as np
import pandas as pd
from osgeo import gdal
import re  # To extract year and month from filenames

# Define TIFF folder path
tiff_folder = "TIFF_DATASET/terra_climate_tiff"

# Get all TIFF files
tiff_files = sorted(glob.glob(os.path.join(tiff_folder, "*.tif")))

# Debug: Ensure files are found
if not tiff_files:
    raise FileNotFoundError("No TIFF files found. Check folder path and file format.")

# Initialize data list
data_list = []

for tiff_file in tiff_files:
    # Extract year and month from filename using regex
    match = re.search(r"_(\d{4})_(\d{1,2})", os.path.basename(tiff_file))
    if match:
        year, month = match.groups()
        date_str = f"{year}-{int(month):02d}"  # Format as YYYY-MM
    else:
        print(f"Skipping file (invalid name format): {tiff_file}")
        continue

    # Open TIFF file
    dataset = gdal.Open(tiff_file)
    if dataset is None:
        print(f"Error: Could not open {tiff_file}")
        continue

    # Extract all bands
    bands = [dataset.GetRasterBand(i+1) for i in range(dataset.RasterCount)]
    
    # Read each band data
    band_arrays = [band.ReadAsArray() for band in bands]
    
    # If any band has no data, skip this file
    if any(array is None for array in band_arrays):
        print(f"Error: One or more bands have no data in {tiff_file}")
        continue

    # Get band names from the TIFF metadata (if available)
    band_names = [band.GetDescription() for band in bands]

    # If no band names are available, assign default names (e.g., Band_1, Band_2, etc.)
    if not all(band_names):
        band_names = [f"Band_{i+1}" for i in range(len(bands))]

    transform = dataset.GetGeoTransform()
    
    rows, cols = band_arrays[0].shape
    latitudes = np.array([transform[3] + row * transform[5] for row in range(rows)])
    longitudes = np.array([transform[0] + col * transform[1] for col in range(cols)])
    
    lon_mesh, lat_mesh = np.meshgrid(longitudes, latitudes)
    
    # Create a DataFrame with band names as column headers
    df = pd.DataFrame({
        "Longitude": lon_mesh.ravel(),
        "Latitude": lat_mesh.ravel(),
        "Date": date_str
    })
    
    # Add each band as a column with its respective name
    for i, array in enumerate(band_arrays):
        df[band_names[i]] = array.ravel()
    
    data_list.append(df)

# Check if data_list has data before concatenating
if not data_list:
    raise ValueError("No valid data was extracted from TIFF files.")

final_df = pd.concat(data_list, ignore_index=True)

# Optional: Save the dataframe to a CSV file
# final_df.to_csv("terra_climate_tiff_data.csv", index=False)

print("Conversion successful! DataFrame shape:", final_df.shape)

Conversion successful! DataFrame shape: (156492, 8)

In [177]:
final_df

,Longitude,Latitude,Date,aet_sum,ro_sum,tmmn_mean,tmmx_mean,soil_mean
0,67.822804,31.890193,2003-01,NaN,NaN,NaN,NaN,NaN
1,68.271962,31.890193,2003-01,NaN,NaN,NaN,NaN,NaN
2,68.721119,31.890193,2003-01,NaN,NaN,NaN,NaN,NaN
3,69.170277,31.890193,2003-01,NaN,NaN,NaN,NaN,NaN
4,69.619435,31.890193,2003-01,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
156487,77.704272,22.008724,2023-12,NaN,NaN,NaN,NaN,NaN
156488,78.153430,22.008724,2023-12,NaN,NaN,NaN,NaN,NaN
156489,78.602587,22.008724,2023-12,NaN,NaN,NaN,NaN,NaN
156490,79.051745,22.008724,2023-12,NaN,NaN,NaN,NaN,NaN
156491,79.500903,22.008724,2023-12,NaN,NaN,NaN,NaN,NaN

In [178]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point

# Load the shapefile (update the file path)
shapefile_path = "RJ_150KM_Buff_Bnd/IND_Rajasthan_Buffer_150km.shp"
shapefile = gpd.read_file(shapefile_path)

# Convert final_df to a GeoDataFrame
geometry = [Point(lon, lat) for lon, lat in zip(final_df['Longitude'], final_df['Latitude'])]
final_gdf = gpd.GeoDataFrame(final_df, geometry=geometry, crs="EPSG:4326")  # Assuming WGS84 projection

# Ensure the shapefile is in the same CRS
if shapefile.crs != final_gdf.crs:
    shapefile = shapefile.to_crs(final_gdf.crs)

# Perform spatial join to filter points inside the shapefile boundary
final_gdf = final_gdf[final_gdf.within(shapefile.unary_union)]

# Convert back to DataFrame (if you don't need the geometry column)
final_df = final_gdf.drop(columns=['geometry'])

# Display the filtered DataFrame
print(final_df)

C:\Users\JT00007\AppData\Local\Temp\ipykernel_12160\853554686.py:18: DeprecationWarning: The 'unary_union' attribute is deprecated, use the 'union_all()' method instead.
  final_gdf = final_gdf[final_gdf.within(shapefile.unary_union)]

        Longitude   Latitude     Date  aet_sum  ro_sum  tmmn_mean  tmmx_mean  \
40      73.661853  31.441035  2003-01     78.0     0.0       34.0      193.0
41      74.111011  31.441035  2003-01     95.0     1.0       37.0      193.0
42      74.560169  31.441035  2003-01    128.0     1.0       39.0      195.0
65      72.763538  30.991877  2003-01     70.0     0.0       35.0      199.0
66      73.212696  30.991877  2003-01     76.0     0.0       35.0      197.0
...           ...        ...      ...      ...     ...        ...        ...
156478  73.661853  22.008724  2023-12    269.0     0.0      141.0      320.0
156479  74.111011  22.008724  2023-12    119.0     0.0      129.0      305.0
156480  74.560169  22.008724  2023-12    105.0     0.0      133.0      312.0
156481  75.009326  22.008724  2023-12    110.0     0.0      135.0      316.0
156482  75.458484  22.008724  2023-12      NaN     NaN        NaN        NaN

        soil_mean
40           10.0
41           43.0
42           96.0
65            5.0
66            4.0
...           ...
156478      557.0
156479      326.0
156480      279.0
156481      261.0
156482        NaN

[95508 rows x 8 columns]

In [180]:
# Counting the NaN values in each of the band columns (aet_sum, ro_sum, tmmn_mean, tmmx_mean, soil_mean)
nan_count = final_df[['aet_sum', 'ro_sum', 'tmmn_mean', 'tmmx_mean', 'soil_mean']].isna().sum()

# Print NaN count for each band
print("Number of NaN values in each column:")
print(nan_count)

Number of NaN values in each column:
aet_sum      252
ro_sum       252
tmmn_mean    252
tmmx_mean    252
soil_mean    252
dtype: int64

In [181]:
# Filter rows where any of the specified columns have NaN values
nan_rows = final_df[final_df[['aet_sum', 'ro_sum', 'tmmn_mean', 'tmmx_mean', 'soil_mean']].isna().any(axis=1)]

# Display the rows with NaN values in any of the specified columns
print(nan_rows)

        Longitude   Latitude     Date  aet_sum  ro_sum  tmmn_mean  tmmx_mean  \
611     75.458484  22.008724  2003-01      NaN     NaN        NaN        NaN
1232    75.458484  22.008724  2003-02      NaN     NaN        NaN        NaN
1853    75.458484  22.008724  2003-03      NaN     NaN        NaN        NaN
2474    75.458484  22.008724  2003-04      NaN     NaN        NaN        NaN
3095    75.458484  22.008724  2003-05      NaN     NaN        NaN        NaN
...           ...        ...      ...      ...     ...        ...        ...
153998  75.458484  22.008724  2023-08      NaN     NaN        NaN        NaN
154619  75.458484  22.008724  2023-09      NaN     NaN        NaN        NaN
155240  75.458484  22.008724  2023-10      NaN     NaN        NaN        NaN
155861  75.458484  22.008724  2023-11      NaN     NaN        NaN        NaN
156482  75.458484  22.008724  2023-12      NaN     NaN        NaN        NaN

        soil_mean
611           NaN
1232          NaN
1853          NaN
2474          NaN
3095          NaN
...           ...
153998        NaN
154619        NaN
155240        NaN
155861        NaN
156482        NaN

[252 rows x 8 columns]

In [182]:
# Define a small tolerance to account for floating point precision issues
tolerance = 1e-6

# Remove rows where Longitude and Latitude match within the tolerance range
final_df = final_df[
    ~(
        (final_df["Longitude"].sub(75.458484).abs() < tolerance) & 
        (final_df["Latitude"].sub(22.008724).abs() < tolerance)
    )
]

# Reset index after removal
final_df = final_df.reset_index(drop=True)

# Display updated dataframe
print(final_df)

# Counting the NaN values in each of the specified columns (aet_sum, ro_sum, tmmn_mean, tmmx_mean, soil_mean)
nan_count = final_df[['aet_sum', 'ro_sum', 'tmmn_mean', 'tmmx_mean', 'soil_mean']].isna().sum()

# Print NaN count for each column
print("Number of NaN values in each column:")
print(nan_count)

       Longitude   Latitude     Date  aet_sum  ro_sum  tmmn_mean  tmmx_mean  \
0      73.661853  31.441035  2003-01     78.0     0.0       34.0      193.0
1      74.111011  31.441035  2003-01     95.0     1.0       37.0      193.0
2      74.560169  31.441035  2003-01    128.0     1.0       39.0      195.0
3      72.763538  30.991877  2003-01     70.0     0.0       35.0      199.0
4      73.212696  30.991877  2003-01     76.0     0.0       35.0      197.0
...          ...        ...      ...      ...     ...        ...        ...
95251  75.907642  22.457882  2023-12    267.0     0.0      131.0      313.0
95252  73.661853  22.008724  2023-12    269.0     0.0      141.0      320.0
95253  74.111011  22.008724  2023-12    119.0     0.0      129.0      305.0
95254  74.560169  22.008724  2023-12    105.0     0.0      133.0      312.0
95255  75.009326  22.008724  2023-12    110.0     0.0      135.0      316.0

       soil_mean
0           10.0
1           43.0
2           96.0
3            5.0
4            4.0
...          ...
95251      494.0
95252      557.0
95253      326.0
95254      279.0
95255      261.0

[95256 rows x 8 columns]
Number of NaN values in each column:
aet_sum      0
ro_sum       0
tmmn_mean    0
tmmx_mean    0
soil_mean    0
dtype: int64

In [183]:
# Counting the NaN values in each of the band columns (aet_sum, ro_sum, tmmn_mean, tmmx_mean, soil_mean)
nan_count = final_df[['aet_sum', 'ro_sum', 'tmmn_mean', 'tmmx_mean', 'soil_mean']].isna().sum()

# Print NaN count for each band
print("Number of NaN values in each column:")
print(nan_count)

Number of NaN values in each column:
aet_sum      0
ro_sum       0
tmmn_mean    0
tmmx_mean    0
soil_mean    0
dtype: int64

In [184]:
final_df

,Longitude,Latitude,Date,aet_sum,ro_sum,tmmn_mean,tmmx_mean,soil_mean
0,73.661853,31.441035,2003-01,78.0,0.0,34.0,193.0,10.0
1,74.111011,31.441035,2003-01,95.0,1.0,37.0,193.0,43.0
2,74.560169,31.441035,2003-01,128.0,1.0,39.0,195.0,96.0
3,72.763538,30.991877,2003-01,70.0,0.0,35.0,199.0,5.0
4,73.212696,30.991877,2003-01,76.0,0.0,35.0,197.0,4.0
...,...,...,...,...,...,...,...,...
95251,75.907642,22.457882,2023-12,267.0,0.0,131.0,313.0,494.0
95252,73.661853,22.008724,2023-12,269.0,0.0,141.0,320.0,557.0
95253,74.111011,22.008724,2023-12,119.0,0.0,129.0,305.0,326.0
95254,74.560169,22.008724,2023-12,105.0,0.0,133.0,312.0,279.0
95255,75.009326,22.008724,2023-12,110.0,0.0,135.0,316.0,261.0

In [185]:
final_df.to_csv('cleaned_terra_climate.csv')

In [171]:
#!pip install pip install geopandas shapely --trusted-host pypi.org --trusted-host files.pythonhosted.org --proxy http://rcwest-student3:NRSC@User@192.168.0.10:8080