In [72]:

import pandas as pd

df = pd.read_csv('CanopInt_Monthly_2003_2023.csv')

df

,system:index,CanopInt_inst_mean,OBJECTID,OBJECTID_1,SHAPE_Leng,STATE,Shape_Area,Shape_Le_1,State_Name,month,year,.geo
0,0_00000000000000000000_0,0.000069,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
1,0_00000000000000000000_1,0.000069,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
2,0_00000000000000000000_2,0.000097,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
3,0_00000000000000000000_3,0.000065,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
4,0_00000000000000000000_4,0.000113,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
...,...,...,...,...,...,...,...,...,...,...,...,...
95719,251_00000000000000000000_370,0.006008,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
95720,251_00000000000000000000_371,0.002025,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
95721,251_00000000000000000000_372,0.001792,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
95722,251_00000000000000000000_373,0.003117,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
95723,251_00000000000000000000_374,0.004038,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""..."

In [73]:
import pandas as pd

df1 = pd.read_csv('LWE_Thickness_Monthly_2003_2023.csv')

df1

,system:index,OBJECTID,OBJECTID_1,SHAPE_Leng,STATE,Shape_Area,Shape_Le_1,State_Name,lwe_thickness_mean,month,year,.geo
0,0_00000000000000000000_0,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
1,0_00000000000000000000_1,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-16.866113,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
2,0_00000000000000000000_2,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-16.866113,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
3,0_00000000000000000000_3,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
4,0_00000000000000000000_4,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
...,...,...,...,...,...,...,...,...,...,...,...,...
96007,251_00000000000000000000_376,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-16.190667,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
96008,251_00000000000000000000_377,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-16.190667,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
96009,251_00000000000000000000_378,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
96010,251_00000000000000000000_379,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
96011,251_00000000000000000000_380,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""..."

In [74]:
import ast
import json
# Extract coordinates and create a new column
df['coordinates'] = df['.geo'].apply(lambda x: json.loads(x)['coordinates'])

# Split longitude and latitude into separate columns
df[['longitude', 'latitude']] = pd.DataFrame(df['coordinates'].tolist(), index=df.index)
df

,system:index,CanopInt_inst_mean,OBJECTID,OBJECTID_1,SHAPE_Leng,STATE,Shape_Area,Shape_Le_1,State_Name,month,year,.geo,coordinates,longitude,latitude
0,0_00000000000000000000_0,0.000069,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...","[73.88643211883064, 21.784145639898394]",73.886432,21.784146
1,0_00000000000000000000_1,0.000069,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...","[74.3355897608904, 21.784145639898394]",74.335590,21.784146
2,0_00000000000000000000_2,0.000097,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...","[74.78474740295016, 21.784145639898394]",74.784747,21.784146
3,0_00000000000000000000_3,0.000065,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...","[72.98811683471112, 22.233303281958154]",72.988117,22.233303
4,0_00000000000000000000_4,0.000113,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...","[73.43727447677088, 22.233303281958154]",73.437274,22.233303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95719,251_00000000000000000000_370,0.006008,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...","[72.98811683471112, 31.21645612315337]",72.988117,31.216456
95720,251_00000000000000000000_371,0.002025,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...","[73.43727447677088, 31.21645612315337]",73.437274,31.216456
95721,251_00000000000000000000_372,0.001792,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...","[73.88643211883064, 31.21645612315337]",73.886432,31.216456
95722,251_00000000000000000000_373,0.003117,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...","[74.3355897608904, 31.21645612315337]",74.335590,31.216456
95723,251_00000000000000000000_374,0.004038,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...","[74.78474740295016, 31.21645612315337]",74.784747,31.216456

In [75]:
import ast
import json
# Extract coordinates and create a new column
df1['coordinates'] = df1['.geo'].apply(lambda x: json.loads(x)['coordinates'])

# Split longitude and latitude into separate columns
df1[['longitude', 'latitude']] = pd.DataFrame(df1['coordinates'].tolist(), index=df1.index)
df1

,system:index,OBJECTID,OBJECTID_1,SHAPE_Leng,STATE,Shape_Area,Shape_Le_1,State_Name,lwe_thickness_mean,month,year,.geo,coordinates,longitude,latitude
0,0_00000000000000000000_0,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...","[73.88643211883064, 21.784145639898394]",73.886432,21.784146
1,0_00000000000000000000_1,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-16.866113,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...","[74.3355897608904, 21.784145639898394]",74.335590,21.784146
2,0_00000000000000000000_2,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-16.866113,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...","[74.78474740295016, 21.784145639898394]",74.784747,21.784146
3,0_00000000000000000000_3,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...","[72.98811683471112, 22.233303281958154]",72.988117,22.233303
4,0_00000000000000000000_4,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...","[73.43727447677088, 22.233303281958154]",73.437274,22.233303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96007,251_00000000000000000000_376,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-16.190667,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...","[72.98811683471112, 31.21645612315337]",72.988117,31.216456
96008,251_00000000000000000000_377,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-16.190667,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...","[73.43727447677088, 31.21645612315337]",73.437274,31.216456
96009,251_00000000000000000000_378,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...","[73.88643211883064, 31.21645612315337]",73.886432,31.216456
96010,251_00000000000000000000_379,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...","[74.3355897608904, 31.21645612315337]",74.335590,31.216456
96011,251_00000000000000000000_380,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...","[74.78474740295016, 31.21645612315337]",74.784747,31.216456

In [76]:
# Convert lists to tuples (since lists are unhashable)
df['coordinates'] = df['coordinates'].apply(tuple)

# Count occurrences of each unique coordinate
coordinate_counts = df['coordinates'].value_counts()

print(coordinate_counts)

coordinates
(73.88643211883064, 21.784145639898394)    252
(73.43727447677088, 27.623194986675284)    252
(77.47969325530872, 27.623194986675284)    252
(77.03053561324896, 27.623194986675284)    252
(76.5813779711892, 27.623194986675284)     252
                                          ...
(71.19148626647207, 24.47909149225696)     204
(70.29317098235255, 23.580776208137436)    204
(71.19148626647207, 24.0299338501972)      204
(70.74232862441231, 24.0299338501972)      204
(70.29317098235255, 24.0299338501972)      204
Name: count, Length: 381, dtype: int64

In [77]:
# Convert lists to tuples (since lists are unhashable)
df1['coordinates'] = df1['coordinates'].apply(tuple)

# Count occurrences of each unique coordinate
coordinate_counts = df1['coordinates'].value_counts()

print(coordinate_counts)

coordinates
(73.88643211883064, 21.784145639898394)    252
(73.43727447677088, 27.623194986675284)    252
(77.47969325530872, 27.623194986675284)    252
(77.03053561324896, 27.623194986675284)    252
(76.5813779711892, 27.623194986675284)     252
                                          ...
(74.3355897608904, 25.377406776376482)     252
(73.88643211883064, 25.377406776376482)    252
(73.43727447677088, 25.377406776376482)    252
(72.98811683471112, 25.377406776376482)    252
(74.78474740295016, 31.21645612315337)     252
Name: count, Length: 381, dtype: int64

In [78]:
df_partial=df

In [79]:
df_full=df1

In [80]:
# Retaining original index
df_full['original_index'] = df_full.index

df_full

,system:index,OBJECTID,OBJECTID_1,SHAPE_Leng,STATE,Shape_Area,Shape_Le_1,State_Name,lwe_thickness_mean,month,year,.geo,coordinates,longitude,latitude,original_index
0,0_00000000000000000000_0,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...","(73.88643211883064, 21.784145639898394)",73.886432,21.784146,0
1,0_00000000000000000000_1,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-16.866113,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...","(74.3355897608904, 21.784145639898394)",74.335590,21.784146,1
2,0_00000000000000000000_2,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-16.866113,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...","(74.78474740295016, 21.784145639898394)",74.784747,21.784146,2
3,0_00000000000000000000_3,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...","(72.98811683471112, 22.233303281958154)",72.988117,22.233303,3
4,0_00000000000000000000_4,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...","(73.43727447677088, 22.233303281958154)",73.437274,22.233303,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96007,251_00000000000000000000_376,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-16.190667,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...","(72.98811683471112, 31.21645612315337)",72.988117,31.216456,96007
96008,251_00000000000000000000_377,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-16.190667,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...","(73.43727447677088, 31.21645612315337)",73.437274,31.216456,96008
96009,251_00000000000000000000_378,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...","(73.88643211883064, 31.21645612315337)",73.886432,31.216456,96009
96010,251_00000000000000000000_379,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...","(74.3355897608904, 31.21645612315337)",74.335590,31.216456,96010
96011,251_00000000000000000000_380,30,30,5.043643e+06,RJ,3.301370e+11,5.043643e+06,Rajasthan,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...","(74.78474740295016, 31.21645612315337)",74.784747,31.216456,96011

In [81]:
df_partial = df_partial.drop(columns=[	'OBJECTID',	'OBJECTID_1',	'SHAPE_Leng',	'STATE',	'Shape_Area',	'Shape_Le_1',	'State_Name'])

In [82]:
df_full = df_full.drop(columns=[	'OBJECTID',	'OBJECTID_1',	'SHAPE_Leng',	'STATE',	'Shape_Area',	'Shape_Le_1',	'State_Name'])

In [83]:
df_merged = df_full.merge(df_partial, on=['month', 'year', 'coordinates'], how='left', suffixes=('_full', '_partial'))

In [84]:
df_merged

,system:index_full,lwe_thickness_mean,month,year,.geo_full,coordinates,longitude_full,latitude_full,original_index,system:index_partial,CanopInt_inst_mean,.geo_partial,longitude_partial,latitude_partial
0,0_00000000000000000000_0,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...","(73.88643211883064, 21.784145639898394)",73.886432,21.784146,0,0_00000000000000000000_0,0.000069,"{""geodesic"":false,""type"":""Point"",""coordinates""...",73.886432,21.784146
1,0_00000000000000000000_1,-16.866113,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...","(74.3355897608904, 21.784145639898394)",74.335590,21.784146,1,0_00000000000000000000_1,0.000069,"{""geodesic"":false,""type"":""Point"",""coordinates""...",74.335590,21.784146
2,0_00000000000000000000_2,-16.866113,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...","(74.78474740295016, 21.784145639898394)",74.784747,21.784146,2,0_00000000000000000000_2,0.000097,"{""geodesic"":false,""type"":""Point"",""coordinates""...",74.784747,21.784146
3,0_00000000000000000000_3,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...","(72.98811683471112, 22.233303281958154)",72.988117,22.233303,3,0_00000000000000000000_3,0.000065,"{""geodesic"":false,""type"":""Point"",""coordinates""...",72.988117,22.233303
4,0_00000000000000000000_4,-33.773062,1,2003,"{""geodesic"":false,""type"":""Point"",""coordinates""...","(73.43727447677088, 22.233303281958154)",73.437274,22.233303,4,0_00000000000000000000_4,0.000113,"{""geodesic"":false,""type"":""Point"",""coordinates""...",73.437274,22.233303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96007,251_00000000000000000000_376,-16.190667,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...","(72.98811683471112, 31.21645612315337)",72.988117,31.216456,96007,251_00000000000000000000_370,0.006008,"{""geodesic"":false,""type"":""Point"",""coordinates""...",72.988117,31.216456
96008,251_00000000000000000000_377,-16.190667,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...","(73.43727447677088, 31.21645612315337)",73.437274,31.216456,96008,251_00000000000000000000_371,0.002025,"{""geodesic"":false,""type"":""Point"",""coordinates""...",73.437274,31.216456
96009,251_00000000000000000000_378,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...","(73.88643211883064, 31.21645612315337)",73.886432,31.216456,96009,251_00000000000000000000_372,0.001792,"{""geodesic"":false,""type"":""Point"",""coordinates""...",73.886432,31.216456
96010,251_00000000000000000000_379,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...","(74.3355897608904, 31.21645612315337)",74.335590,31.216456,96010,251_00000000000000000000_373,0.003117,"{""geodesic"":false,""type"":""Point"",""coordinates""...",74.335590,31.216456
96011,251_00000000000000000000_380,-66.004840,12,2023,"{""geodesic"":false,""type"":""Point"",""coordinates""...","(74.78474740295016, 31.21645612315337)",74.784747,31.216456,96011,251_00000000000000000000_374,0.004038,"{""geodesic"":false,""type"":""Point"",""coordinates""...",74.784747,31.216456

In [85]:
# Check for NaN values in 'lwe_thickness_mean' column
nan_count = df_merged['CanopInt_inst_mean'].isna().sum()

# Print the result
print(f"Number of NaN values in 'lwe_thickness_mean': {nan_count}")

Number of NaN values in 'lwe_thickness_mean': 288

In [86]:
df_merged = df_merged.drop(columns=['system:index_full','lwe_thickness_mean','.geo_full','longitude_full','latitude_full','system:index_partial','.geo_partial','longitude_partial','latitude_partial'])
df_merged

,month,year,coordinates,original_index,CanopInt_inst_mean
0,1,2003,"(73.88643211883064, 21.784145639898394)",0,0.000069
1,1,2003,"(74.3355897608904, 21.784145639898394)",1,0.000069
2,1,2003,"(74.78474740295016, 21.784145639898394)",2,0.000097
3,1,2003,"(72.98811683471112, 22.233303281958154)",3,0.000065
4,1,2003,"(73.43727447677088, 22.233303281958154)",4,0.000113
...,...,...,...,...,...
96007,12,2023,"(72.98811683471112, 31.21645612315337)",96007,0.006008
96008,12,2023,"(73.43727447677088, 31.21645612315337)",96008,0.002025
96009,12,2023,"(73.88643211883064, 31.21645612315337)",96009,0.001792
96010,12,2023,"(74.3355897608904, 31.21645612315337)",96010,0.003117
96011,12,2023,"(74.78474740295016, 31.21645612315337)",96011,0.004038

In [87]:
# Filter rows where 'lwe_thickness_mean' is NaN
nan_rows = df_merged[df_merged['CanopInt_inst_mean'].isna()]

# Display the rows
print(nan_rows)

       month  year                              coordinates  original_index  \
77757      1  2020  (70.29317098235255, 23.580776208137436)           77757
77759      1  2020  (71.19148626647207, 23.580776208137436)           77759
77776      1  2020    (70.29317098235255, 24.0299338501972)           77776
77777      1  2020    (70.74232862441231, 24.0299338501972)           77777
77778      1  2020    (71.19148626647207, 24.0299338501972)           77778
...      ...   ...                                      ...             ...
95666     12  2023  (71.19148626647207, 23.580776208137436)           95666
95683     12  2023    (70.29317098235255, 24.0299338501972)           95683
95684     12  2023    (70.74232862441231, 24.0299338501972)           95684
95685     12  2023    (71.19148626647207, 24.0299338501972)           95685
95705     12  2023   (71.19148626647207, 24.47909149225696)           95705

       CanopInt_inst_mean
77757                 NaN
77759                 NaN
77776                 NaN
77777                 NaN
77778                 NaN
...                   ...
95666                 NaN
95683                 NaN
95684                 NaN
95685                 NaN
95705                 NaN

[288 rows x 5 columns]

In [88]:
# Filter rows where 'lwe_thickness_mean' is NaN
nan_rows = df_merged[df_merged['CanopInt_inst_mean'].isna()]

# Count occurrences of (year, month) pairs
common_year_month = nan_rows.groupby(['year', 'month']).size().reset_index(name='count')

# Display the most common (year, month) pairs
print(common_year_month)

    year  month  count
0   2020      1      6
1   2020      2      6
2   2020      3      6
3   2020      4      6
4   2020      5      6
5   2020      6      6
6   2020      7      6
7   2020      8      6
8   2020      9      6
9   2020     10      6
10  2020     11      6
11  2020     12      6
12  2021      1      6
13  2021      2      6
14  2021      3      6
15  2021      4      6
16  2021      5      6
17  2021      6      6
18  2021      7      6
19  2021      8      6
20  2021      9      6
21  2021     10      6
22  2021     11      6
23  2021     12      6
24  2022      1      6
25  2022      2      6
26  2022      3      6
27  2022      4      6
28  2022      5      6
29  2022      6      6
30  2022      7      6
31  2022      8      6
32  2022      9      6
33  2022     10      6
34  2022     11      6
35  2022     12      6
36  2023      1      6
37  2023      2      6
38  2023      3      6
39  2023      4      6
40  2023      5      6
41  2023      6      6
42  2023      7      6
43  2023      8      6
44  2023      9      6
45  2023     10      6
46  2023     11      6
47  2023     12      6

Inverse Distance Weighting (IDW)  #krigging

In [89]:
import numpy as np
import pandas as pd
from scipy.spatial import cKDTree

# Sample DataFrame (Ensure it has 'coordinates' as tuples)
df_merged[['longitude', 'latitude']] = pd.DataFrame(df_merged['coordinates'].tolist(), index=df_merged.index)

# Separate known and unknown data points
known = df_merged[df_merged['CanopInt_inst_mean'].notna()]
unknown = df_merged[df_merged['CanopInt_inst_mean'].isna()]

# Build KDTree for spatial search
tree = cKDTree(known[['longitude', 'latitude']].values)

# Define IDW function
def idw_interpolation(x, y, known_points, known_values, k=5, power=2):
    """Inverse Distance Weighting (IDW) interpolation"""
    distances, idx = tree.query([[x, y]], k=k)
    distances = distances.flatten()
    idx = idx.flatten()
    
    # Avoid division by zero
    distances = np.where(distances == 0, 1e-10, distances)
    
    weights = 1 / distances ** power
    interpolated_value = np.sum(weights * known_values[idx]) / np.sum(weights)
    
    return interpolated_value

# Apply IDW to fill NaN values
df_merged.loc[df_merged['CanopInt_inst_mean'].isna(), 'CanopInt_inst_mean'] = \
    unknown.apply(lambda row: idw_interpolation(row['longitude'], row['latitude'], 
                                                known[['longitude', 'latitude']].values, 
                                                known['CanopInt_inst_mean'].values), axis=1)

df_merged

,month,year,coordinates,original_index,CanopInt_inst_mean,longitude,latitude
0,1,2003,"(73.88643211883064, 21.784145639898394)",0,0.000069,73.886432,21.784146
1,1,2003,"(74.3355897608904, 21.784145639898394)",1,0.000069,74.335590,21.784146
2,1,2003,"(74.78474740295016, 21.784145639898394)",2,0.000097,74.784747,21.784146
3,1,2003,"(72.98811683471112, 22.233303281958154)",3,0.000065,72.988117,22.233303
4,1,2003,"(73.43727447677088, 22.233303281958154)",4,0.000113,73.437274,22.233303
...,...,...,...,...,...,...,...
96007,12,2023,"(72.98811683471112, 31.21645612315337)",96007,0.006008,72.988117,31.216456
96008,12,2023,"(73.43727447677088, 31.21645612315337)",96008,0.002025,73.437274,31.216456
96009,12,2023,"(73.88643211883064, 31.21645612315337)",96009,0.001792,73.886432,31.216456
96010,12,2023,"(74.3355897608904, 31.21645612315337)",96010,0.003117,74.335590,31.216456
96011,12,2023,"(74.78474740295016, 31.21645612315337)",96011,0.004038,74.784747,31.216456

In [90]:
df_merged = df_merged.sort_values(by=['original_index']).reset_index(drop=True)

In [91]:
df_merged

,month,year,coordinates,original_index,CanopInt_inst_mean,longitude,latitude
0,1,2003,"(73.88643211883064, 21.784145639898394)",0,0.000069,73.886432,21.784146
1,1,2003,"(74.3355897608904, 21.784145639898394)",1,0.000069,74.335590,21.784146
2,1,2003,"(74.78474740295016, 21.784145639898394)",2,0.000097,74.784747,21.784146
3,1,2003,"(72.98811683471112, 22.233303281958154)",3,0.000065,72.988117,22.233303
4,1,2003,"(73.43727447677088, 22.233303281958154)",4,0.000113,73.437274,22.233303
...,...,...,...,...,...,...,...
96007,12,2023,"(72.98811683471112, 31.21645612315337)",96007,0.006008,72.988117,31.216456
96008,12,2023,"(73.43727447677088, 31.21645612315337)",96008,0.002025,73.437274,31.216456
96009,12,2023,"(73.88643211883064, 31.21645612315337)",96009,0.001792,73.886432,31.216456
96010,12,2023,"(74.3355897608904, 31.21645612315337)",96010,0.003117,74.335590,31.216456
96011,12,2023,"(74.78474740295016, 31.21645612315337)",96011,0.004038,74.784747,31.216456

In [92]:
df_merged.to_csv('GLDAS.csv', index=True)  # Saves with the default index